<table> 
    <thead>
        <tr>
            <th>Register</th>
            <th>Value</th>
            <th>Bit Fields</th>
        </tr>
    </thead>
    <tbody>
        {% for reg_name, reg_data in registers.items() %}
        <tr>
            <td>{{ reg_name }}</td>
            <td>
                <form method="POST" action="/update_register">
                    <input type="hidden" name="register" value="{{ reg_name }}">
                    <input type="text" name="value" value="{{ '{:08b}'.format(reg_data.value) }}" maxlength="8" onkeypress="submitOnEnter(event, this.form)" class="{% if reg_data.has_changed %}changed{% endif %}">
                </form>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Bit Field Name</th>
                            <th>Value</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bit_name, bit_data in reg_data.bit_fields.items() %}
                        <tr>
                            <td>{{ bit_name }}</td>
                            <td>
                                <form method="POST" action="/update_bit_field">
                                    <input type="hidden" name="register" value="{{ reg_name }}">
                                    <input type="hidden" name="bit_field" value="{{ bit_name }}">
                                    <input type="text" name="value" value="{{ '{:0{size}b}'.format(bit_data.value, size=bit_data.size) }}" maxlength="{{ bit_data.size }}" onkeypress="submitOnEnter(event, this.form)" class="{% if bit_data.has_changed %}changed{% endif %}">
                                </form>
                            </td>
                            <td>{{ bit_data.doc|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
